{
    "kind": "tm:gtm:server:virtual-servers",
    "name": "{{ vs_name }}",
    "fullPath": "{{ vs_name }}",
    "destination": "{{ vs_destination }}",
    "enabled": true,
    "limitMaxBps": 0,
    "limitMaxBpsStatus": "disabled",
    "limitMaxConnections": 0,
    "limitMaxConnectionsStatus": "disabled",
    "limitMaxPps": 0,
    "limitMaxPpsStatus": "disabled",
    "translationAddress": "none",
    "translationPort": 0
}