{
    "name": "FAST/wide_ip",
    "parameters": {
        "tenant_name": "{{tenant_name}}",
        "dns_name": "{{domain_name}}",
        "pool_name": "{{pool_name}}",
        "server_name": "{{server_name}}",
        "vs_name": "{{vs_name}}"
    }
}
